@import "tailwindcss";

@layer components {
  .btnhome {
    @apply md:bg-[#2dc071] text-white text-sm font-bold py-2 px-4 rounded;
  }

  h1 {
    @apply text-white font-bold text-[2.5rem] leading-[3.1rem] tracking-[0.00625rem];
  }
  h2 {
    @apply text-white font-bold text-[2.5rem] leading-[3.13rem] tracking-[0.013rem];
  }

  h3 {
    @apply text-[#252B42] font-bold text-2xl leading-[2rem] tracking-[0.00625rem];
  }

  h4 {
    @apply text-white font-normal text-xl leading-[1.88rem] tracking-[0.013rem];
  }
  h5 {
    @apply text-white font-bold text-base leading-[1.5rem] tracking-[0.00625rem];
  }
  h6 {
    @apply text-[#252B42] font-bold text-sm leading-[1.5rem] tracking-[0.013rem];
  }
  p {
    @apply text-[#737373] font-normal text-center text-sm leading-[1.25rem] tracking-[0.013rem];
  }
  .small {
    @apply text-[#737373] font-normal text-xs leading-[1rem] tracking-[0.013rem];
  }
  .mobilemenu {
    @apply text-[#737373] font-normal text-3xl text-center leading-[2.8rem] tracking-[0.013rem];
  }
  .link {
    @apply text-[#737373] font-bold text-sm leading-[1.5rem] tracking-[0.013rem] cursor-pointer;
  }
  .linkHeader {
    @apply text-[#23A6F0] font-bold text-sm leading-[0.875rem] tracking-[0.013rem] cursor-pointer;
  }

  /* a:link - a normal, unvisited link
  a:visited - a link the user has visited
  a:hover - a link when the user mouses over it
  a:active - a link the moment it is clicked */
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  @media (min-width: 768px) {
    .md\:linkHeader {
      @apply text-[#23A6F0] font-bold text-sm leading-[0.875rem] tracking-[0.013rem] cursor-pointer;
    }
  }
}

/* @theme {
  --font-display: "Oswald", "sans-serif";
} */

/* * {
  border: 1px solid red;
} */
